#home {
    display: flex;
    min-height: calc(100vh - 104px);
    position: relative;
  }
  
  .cta {
    font-family: "Poppins", sans-serif;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  
  .cta .title {
    font-size: 1.8rem;
    color: #ffffff;
  }
  
  .cta .subtitle {
    font-size: 1.4rem;
    color: #ffffff;
  }
  
  .cta span {
    color: #c1095a;
  }
  
  .cta .description {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
  }
  
  #cta_buttons {
    display: flex;
    width: 100%;
    gap: 30px;
  }

  .button-default {
    background-image: linear-gradient(92.88deg, #c1095a 9.16%, #c22468 43.89%, #b84778 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    width: 8rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-default:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  .banner {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 65%;
      z-index: 2;
  }
  
  .banner img {
    height: 75%;
    width: fit-content;
    max-width: 100%;
  }

  @media screen and (max-width: 1600px) {
    .banner img {
      height: 60%;
      width: fit-content;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    #cta_buttons {
      justify-content: center;
    }

    .banner {
      width: 75%;
      align-items: center;
      padding-top: 30px;
    }

    .cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }

}
