#conjunto-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 148px);
  }
  
  #conjunto-skills h2 {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    color: #c1095a;
  }
  
  #conjunto-skills h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #fff;
  }
  
  
  #skills {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
  }
  
  .skill-icon {
    position: absolute;
    background-color: #c1095a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: #f1e20b;
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 0px 0px 42.5px;
  }
  
  .skill-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    color: #c1095a;
  }
  
  .skill-description {
    font-family: "Poppins", sans-serif;
    color: #434343;
    text-align: center;
  }

  #conjunto-skills  {
    text-align: center;
}

  @media screen and (max-width: 1250px) {
    #conjunto-skills .section-subtitle {
      text-align: center;
  }
    
    #skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        width: calc(50% - 12px);
    }

    .skill .skill-title{
      text-align: center;
  }
}

@media screen and (max-width: 600px) {
    .skill {
        width: 100%;
    }

} 